In [1]:
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Load the dataset
dataset = load_dataset("lukebarousse/data_jobs")
df = dataset["train"].to_pandas()

# Data Cleanup
df["job_posted_date"] = pd.to_datetime(df["job_posted_date"])

c:\Users\Frederick\anaconda3\envs\test_proyec\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [7]:
median_salary_year = df.salary_year_avg.median()

In [8]:
median_salary_hour = df.salary_hour_avg.median()

In [13]:
df_filled = df
df_filled["salary_year_avg"] = df_filled["salary_year_avg"].fillna(median_salary_year)
df_filled["salary_hour_avg"] = df_filled["salary_hour_avg"].fillna(median_salary_hour)

C:\Users\Frederick\AppData\Local\Temp\ipykernel_19744\1877079068.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_filled["salary_year_avg"] = df_filled["salary_year_avg"].fillna(median_salary_year)
C:\Users\Frederick\AppData\Local\Temp\ipykernel_19744\1877079068.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_filled["salary_hour_avg"] = df_filled["salary_hour_avg"].fillna(median_salary_hour)

In [16]:
df_filled.loc[:10,"salary_year_avg":"salary_hour_avg"]

    salary_year_avg  salary_hour_avg
0          115000.0            45.98
1          115000.0            45.98
2          115000.0            45.98
3          115000.0            45.98
4          115000.0            45.98
5          115000.0            45.98
6          115000.0            45.98
7          115000.0            45.98
8          115000.0            45.98
9          115000.0            45.98
10         115000.0            45.98

In [18]:
df_unique = df_filled

df_unique = df_unique.drop_duplicates()

In [19]:
df_unique = df_unique.drop_duplicates(subset=["job_title", "company_name"])